@using System.Configuration

@{
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
    ViewBag.ApplicationUrl = ConfigurationManager.AppSettings["applicationUrl"].ToString();
    ViewBag.TemplateUrl = ConfigurationManager.AppSettings["templateUrl"].ToString();
}

@section styles {

    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/TipoEndereco/TipoEnderecoDetailStyle.css" rel="stylesheet" type="text/css" />

}

@section scripts {

    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/localization/messages_pt_BR.min.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/global/js/validation.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/TipoEndereco/TipoEnderecoDetailScript.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            TipoEnderecoDetailScript.init();
        });
    </script>

}

<div class="row">
    <div class="col-md-12">

        <div id="divForm" class="portlet box grey">
            <div class="portlet-title">
                <div id="divCaption" class="caption">

                </div>
                <div class="tools">
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="formDetail" class="form-horizontal" role="form" action="#">
                    <div class="form-body">
                        <div id="custom-validate-error" class="alert alert-danger display-hide col-md-9 col-md-offset-3">
                            <button class="close" data-close="alert"></button>
                            <span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nome</label>
                            <div class="col-md-9">
                                <input id="txtNome" name="txtNome" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ativo</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label>
                                        <input id="chkAtivoTrue" name="chkAtivo" type="radio" value="true" checked> Sim
                                    </label>
                                    <label>
                                        <input id="chkAtivoFalse" name="chkAtivo" type="radio" value="false" checked> Não
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Salvar" class="btn blue">
                            <input id="btnCancelar" type="button" value="Cancelar" class="btn default">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>