@using System.Configuration

@{
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
    ViewBag.ApplicationUrl = ConfigurationManager.AppSettings["applicationUrl"].ToString();
    ViewBag.TemplateUrl = ConfigurationManager.AppSettings["templateUrl"].ToString();
}

@section styles {

    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" />

    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/Conta/ContaSharedStyle.css" rel="stylesheet" type="text/css" />

    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/Movimento/MovimentoDetailStyle.css" rel="stylesheet" type="text/css" />

}

@section scripts {

    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/localization/messages_pt_BR.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/datatables/all.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/global/plugins/jquery-maskmoney-master/dist/jquery.maskMoney.min.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/global/js/validation.js" type="text/javascript"></script>
    <script src="@ViewBag.ApplicationUrl/assets/global/js/NumberFormat154.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/Conta/ContaSharedScript.js" type="text/javascript"></script>
    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/Conciliacao/ConciliacaoSharedScript.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/Movimento/MovimentoDetailScript.js" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            ConciliacaoSharedScript.init();
            MovimentoDetailScript.init();
        });
    </script>

}

<input id="txtApplicationUrl" type="hidden" value="@ViewBag.ApplicationUrl" />
<input id="txtEstaConciliado" type="hidden" value="" />

<div class="row">
    <div class="col-md-12">
        <div id="divForm" class="portlet box grey">
            <div class="portlet-title">
                <div id="divCaption" class="caption">
                    
                </div>
                <div class="tools">
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="" class="reload">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="formDetail" class="form-horizontal" role="form" action="#">
                    <div class="form-body">
                        <div id="custom-validate-error" class="alert alert-danger display-hide col-md-9 col-md-offset-3">
                            <button class="close" data-close="alert"></button>
                            <span>
                            </span>
                        </div>  
                        <div id="groupImportadoEm" class="form-group" style="display: none;">
                            <label class="col-md-3 control-label">Importado em</label>
                            <div class="col-md-9">
                                <a id="txtImportadoEm" name="txtImportadoEm" class="form-control-static" href="//api.jquery.com/category/manipulation/dom-insertion-inside/"></a>
                            </div>
                        </div>                     
                        <div class="form-group">
                            <label class="col-md-3 control-label">Conta</label>
                            <div class="divConta col-md-9">
                                <input id="cmbConta" name="cmbConta" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Historico</label>
                            <div class="col-md-9">
                                <input id="txtHistorico" name="txtHistorico" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Data</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input id="txtDataMovimento" name="txtDataMovimento" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Valor</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-usd"></i>
                                    </span>
                                    <input id="txtValorMovimento" name="txtValorMovimento" type="text" class="form-control">
                                </div>
                            </div>
                        </div>    
                        <div class="form-group fieldPagamento">
                            <label class="col-md-3 control-label">Conciliações</label>
                            <div class="col-md-9">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" id="dataTableConciliacoes">
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Histórico</th>
                                                    <th>Favorecido</th>
                                                    <th style="text-align: right;">Conciliado</th>
                                                    <th style="text-align: right;">Valor</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="form-group">
                            <label class="col-md-3 control-label">Observação</label>
                            <div class="col-md-9">
                                <textarea id="txtObservacao" name="txtObservacao" class="form-control minieditor"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Salvar" class="btn blue">
                            <input id="btnCancelar" type="button" value="Cancelar" class="btn default">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>