@using System.Configuration
@using RThomaz.Web.Helpers

@{
    Layout = "~/Views/Shared/_LayoutFullBase.cshtml";
    ViewBag.ApplicationUrl = ConfigurationManager.AppSettings["applicationUrl"].ToString();
    ViewBag.TemplateUrl = ConfigurationManager.AppSettings["templateUrl"].ToString();
}

@section styles {
        
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/Perfil/PerfilBaseStyle.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/Perfil/tasks.css" rel="stylesheet" type="text/css" />

    @RenderSection("styles", required: false)

}

@section scripts {
           
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/localization/messages_pt_BR.min.js" type="text/javascript"></script>

    <script src="@ViewBag.ApplicationUrl/assets/global/js/validation.js" type="text/javascript"></script>

    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>

    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/Perfil/PerfilBaseScript.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
    
    <script>
        jQuery(document).ready(function () {
            PerfilBaseScript.init();
        });
    </script>

}

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Perfil</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>    
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    @{
                        var srcAvatar = string.Empty;
                        if (string.IsNullOrEmpty(ViewBag.AvatarStorageObject))
                        {
                            srcAvatar = ViewBag.ApplicationUrl + "/assets/admin/img/avatar1.png"; 
                        }
                        else 
                        {
                            srcAvatar = "/api/perfil/avatar/" + ViewBag.AvatarStorageObject;
                        }
                    }
                    <img src="@srcAvatar" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div id="sideBarNomeExibicao" class="profile-usertitle-name">
                        @*Fulano*@
                    </div>
                    <div class="profile-usertitle-job">
                        Desenvolvedor
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li id="mnuOverview">
                            <a href="/Perfil">
                                <i class="icon-home"></i>
                                Geral
                            </a>
                        </li>
                        <li id="mnuAccount">
                            <a href="/Perfil/Account">
                                <i class="icon-settings"></i>
                                Configurações da conta
                            </a>
                        </li>
                        <li id="mnuTarefa">
                            <a href="/Tarefa">
                                <i class="icon-check"></i>
                                Tarefas
                            </a>
                        </li>
                        <li id="mnuHelp">
                            <a href="/Perfil/Help">
                                <i class="icon-info"></i>
                                Ajuda
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            37
                        </div>
                        <div class="uppercase profile-stat-text">
                            Projetos
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            51
                        </div>
                        <div class="uppercase profile-stat-text">
                            Tarefas
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title">
                            61
                        </div>
                        <div class="uppercase profile-stat-text">
                            Uploads
                        </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    @*Sobre Fulano*@
                    <h4 id="aboutNomeExibicao" class="profile-desc-title"></h4>
                    <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="http://www.twitter.com/keenthemes/">keenthemes</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        @RenderBody()
    </div>
</div>
<!-- END PAGE CONTENT-->