@using System.Configuration

@{
    ViewBag.ApplicationUrl = ConfigurationManager.AppSettings["applicationUrl"].ToString();
    ViewBag.TemplateUrl = ConfigurationManager.AppSettings["templateUrl"].ToString();
    ViewBag.AppWebApiUrl = ConfigurationManager.AppSettings["appWebApiUrl"].ToString();
    ViewBag.IdentityWebApiUrl = ConfigurationManager.AppSettings["identityWebApiUrl"].ToString();
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.3.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>RThomaz Finanças | Entrar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@ViewBag.ApplicationUrl/assets/admin/css/views/Seguranca/SegurancaLoginStyle.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="@ViewBag.TemplateUrl/theme/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="@ViewBag.TemplateUrl/theme/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@ViewBag.TemplateUrl/theme/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="@ViewBag.ApplicationUrl/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">

    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="@ViewBag.ApplicationUrl/assets/admin/img/Logo.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="#" method="post">
            <h3 class="form-title">Acesse sua conta</h3>
            <div id="login-form-alert-danger" class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Informe seu usuário e senha.
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="txtLoginEmail" id="txtLoginEmail" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Senha</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Senha" name="txtLoginSenha" id="txtLoginSenha" />
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase">Entrar</button>
                <label class="rememberme check">
                    <input type="checkbox" name="chkLoginLembrarMe" id="chkLoginLembrarMe" value="1" />Lembrar-me
                </label>
                <a href="javascript:;" id="forget-password" class="forget-password">Esqueceu sua senha ?</a>
            </div>
            <br />
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">Crie uma conta</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3>Esqueceu sua senha ?</h3>
            <p>
                Digite seu endereço de e-mail abaixo para recuperar sua senha.
            </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="txtForgetEmail" id="txtForgetEmail" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">Voltar</button>
                <button type="submit" class="btn btn-success uppercase pull-right">Enviar</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form" action="index.html" method="post">
            <h3>Inscrever-se</h3>
            <p class="hint">
                Informe seus dados pessoais abaixo:
            </p>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Email" id="txtRegisterEmail" name="txtRegisterEmail" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Senha</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="txtRegisterPassword" placeholder="Senha" name="txtRegisterPassword" />
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Confirme a senha</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirme a senha" name="rpassword" />
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check">
                    <input type="checkbox" name="tnc" /> Concordo com os <a href="#">
                        Termos de Serviço
                    </a>
                    e <a href="#">
                        Política de Privacidade
                    </a>
                </label>
                <div id="register_tnc_error">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">Voltar</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Enviar</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright">
        2015 - 2015 &copy; RThomaz - Finanças. Todos os direitos reservados
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/respond.min.js"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/jquery-validation/js/localization/messages_pt_BR.min.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="@ViewBag.ApplicationUrl/assets/global/js/validation.js" type="text/javascript"></script>
    <script src="@ViewBag.ApplicationUrl/assets/global/js/helpers.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@ViewBag.TemplateUrl/theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="@ViewBag.TemplateUrl/theme/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="@ViewBag.ApplicationUrl/assets/admin/js/ApplicationScript.js"></script>
    <script src="@ViewBag.ApplicationUrl/assets/admin/js/views/Seguranca/SegurancaLoginScript.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            ApplicationScript.init('@ViewBag.ApplicationUrl', '@ViewBag.TemplateUrl', '@ViewBag.AppWebApiUrl', '@ViewBag.IdentityWebApiUrl');
            SegurancaLoginScript.init();
            Demo.init();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>